{% extends "guests/layout.html" %}
{% load static %}
{% block content %}
<div class="page">
    <div class="section divLeft">
            <img src="{% static 'guests/images/LeaningSmileFramed.png' %}">
    </div>
    <div class="section divRight">   
        <div class="textblock">             
            <h1>Details</h1>
            <p>
                September 26th, 2020
            </p>
            <p>
                Ceremony begins at 4:30 PM
                <br>Reception to follow
            </p>
            <p>
                Phase 2 - Kaʻula
                <br>Lanikuhonua Cultural Institute
                <br>92-1101 Ali'inui Drive
                <br>Kapolei, HI 96707
            </p>
            <p>
                Dress Code: Dressy Casual
            </p>
            <p>
                <img id="instaicon" src="{% static 'guests/images/instagram-logo-transparent-allwhite.png' %}">
                #instagramhashtag
            </p>
        </div>
    </div>
</div>
{% endblock %}