<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Elizabeth & Ellison</title>
        <link rel="stylesheet" type="text/css" href="{% static 'guests/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <img class="logo" id="headerimg" src="{% static 'guests/images/Web Name Banner.png' %}"></img>
            <div class="navbar">
                <ul>
                    <li><a href="{% url 'guests:home' %}">Home</a></li>
                    <li><a href="{% url 'guests:details' %}">Details</a></li>
                    <li><a href="{% url 'guests:rsvp' %}">RSVP</a></li>
                    <li><a href="{% url 'guests:travel' %}">Travel</a></li>
                    <li><a href="{% url 'guests:weddingparty' %}">Wedding Party</a></li>
                    <li><a href="{% url 'guests:registry' %}">Registry</a></li>
            </ul>
            </div>
        </header>
        {% block content %}
        {% endblock %}
        <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script> 
        {% block javascript %}
        {% endblock %}
    </body>
</html>