{% extends "guests/layout.html" %}
{% load static %}
{% block content %}
    <div class="page">
        <div class="section divLeft">
                <img src="{% static 'guests/images/WeddingPhotoFramed.png' %}">
        </div>
        <div class="section divRight">   
            <div class="textblock">             
                <h1>{{ title }}</h1>
                <form id="search" action="" method="post">
                        {{ form.as_p }}
                        <div class="buttoncontainer">
                            <button type="submit" class="button">Submit</button>
                        </div>
                {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" >
    $().ready(function(){
        $("#id_PlusOneFirstName").hide();
        $('label[for="id_PlusOneFirstName"]').hide();
        $("#id_PlusOneLastName").hide();
        $('label[for="id_PlusOneLastName"]').hide();
    });

    $('#id_plusone_0').click(function() {
        if($('#id_plusone_0').is(":checked")) {
            $('#id_PlusOneFirstName').show();
            $('label[for="id_PlusOneFirstName"]').show();
            $('#id_PlusOneLastName').show();
            $('label[for="id_PlusOneLastName"]').show();
        } else {
            $("#id_PlusOneFirstName").hide();
            $('label[for="id_PlusOneFirstName"]').hide();
            $("#id_PlusOneLastName").hide();
            $('label[for="id_PlusOneLastName"]').hide();
        }
    });
</script>
{% endblock %}