{% extends "guests/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="homecontainer">
                <img src="{% static 'guests/images/ForestWalkingFramed.png' %}">
        </div>
    </div>
    <div class="container">
        <div class="singlecenter">
            <img class="icon" src="{% static 'guests/images/EHeartE.png' %}">
            <br>Story about who they are and how they met. Their life now. How they got married last year and are now
            happy to be celebrating with their friends and family on their one year anniversary here on Oahu. Some
            kind of just blurb to introduce them, etc. This is just text to fill in to test design, etc. Not sure
            if I like this blurb here or not, or if we just want to have this page just be that picture. maybe just
            put the wedding date or something. I don't know, I'll talk to them and see what they like, but I do think
            it'd be nice to have a small story somewhere on the page.
        </div>
    </div>
{% endblock %}