{% extends "guests/layout.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="divLeft">
                <img src="{% static 'guests/images/WeddingPhotoFramed.png' %}">
        </div>
        <div class="divRight">                
            <h1>{{ title }}</h1>
            <form id="search" action="" method="post">
                    {{ form.as_p }}
                    <div class="buttoncontainer">
                        <button type="submit" class="button">Search</button>
                    </div>
            {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" >
    $('#search').submit(function(e){
        var fname = $("#id_FirstName").val();
        var lname = $("#id_LastName").val();
        $.ajax({
            url: 'ajax/validate_guest/',
            data: {
                'fname': fname,
                'lname': lname,
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.found) {
                    console.log("invitation found");
                } else {
                    alert("Sorry! Your invitation could not be found. Please double check all fields and try again.");
                }
            }
        });
    });        
</script>
{% endblock %}