{% extends "guests/layout.html" %}
{% block content %}
    <div >
            <div class="divLeft">
                    <img src="../static/guests/images/WeddingPhoto.jpg">
            </div>
        <div class="divRight">                
                {% if submitted %}
                    <h1>RSVP</h1>
                    <p class="success">
                        {{ result }}
                    </p>
                    <form action = "" method = "post" novalidate>
                        <table>
                            {{ rsvpforform }}
                            <tr>
                                    <td>&nbsp;</td>
                                    <td><input type="submit" name="rsvp" value="Submit"></td>
                                </tr>
                        </table>
                        {% csrf_token %}
                    </form>
                
                {% else %}
                    <h1>Find Your Invitation</h1>
                    <div class="message"></div>
                    <form id="search" action="" method="post">
                        <table>
                            {{ form.as_p }}
                            <tr>
                                <td>&nbsp;</td>
                                <td><input type="submit" name="search" value="Search"></td>
                            </tr>
                        </table>
                    {% csrf_token %}
                    </form>
                {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" >
    $('#search').submit(function(e){
        var lname = $("#id_LastName").val();
        console.log(lname);
        var addr = $("#id_Address").val();
        console.log(addr);
        $.ajax({
            url: 'ajax/validate_guest/',
            data: {
                'lname': lname,
                'addr': addr
            },
            dataType: 'json',
            success: function (data) {
                console.log(data)
                if (data.found) {
                    console.log("invitation found");
                } else {
                    alert("Sorry! Your invitation could not be found. Please double check all fields and try again.");
                }
            }
        });
    });        
</script>
{% endblock %}