{% extends "guests/layout.html" %}
{% load static %}
{% block content %}
    <div class="container" id="slidecenter">
        <div class="homecontainer">
            <img src="{% static 'guests/images/HoldingHandsFramed.png' %}">
        </div>
    </div>
    {% if show == 'show' %}
    <div>
        <div class="slideleft">
            <h1> Bride Tribe </h1>
            <table class="partytable">
                <tr>
                    <td><img class="weddingpartyimg" src="{% static 'guests/images/Lizzie.jpg' %}">
                    <br>Mr. Andres<br>Father of the Bride</td>
                    <td><img class="weddingpartyimg" src="{% static 'guests/images/Lizzie.jpg' %}">
                    <br>Mrs. Andres<br>Mother of the Bride</td>
                </tr>
                <tr>
                    <td><img class="weddingpartyimg" src="{% static 'guests/images/Lizzie.jpg' %}">
                    <br>Micah Andres<br>Brother of the Bride</td>
                    <td><img class="weddingpartyimg" src="{% static 'guests/images/Kathleen.jpg' %}">
                    <br>Kathleen Tanaka<br>Maid of Honor</td>
                    
                </tr>
                <tr>
                    <td><img class="weddingpartyimg" src="{% static 'guests/images/Marissa.jpg' %}">
                        <br>Marissa Pang<br>Bridesmaid</td>
                    <td><img class="weddingpartyimg" src="{% static 'guests/images/Trisha.jpg' %}">
                    <br>Trisha Okimoto<br>Bridesmaid</td>
                </tr>
                <tr>
                    <td><img class="weddingpartyimg" src="{% static 'guests/images/Lizzie.jpg' %}">
                    <br>Bridesmaid<br>Bridesmaid</td>
                    <td><img class="weddingpartyimg" src="{% static 'guests/images/Lizzie.jpg' %}">
                    <br>Bridesmaid<br>Bridesmaid</td>
                </tr>
            </table>
        </div>
        <div class="slideright">
            <h1> Groom Platoon </h1>
            <table>
                <tr>
                    <td><img class="weddingpartyimg" src="{% static 'guests/images/El.jpg' %}">
                    <br>Mr. Andres<br>Father of the Groom</td>
                    <td><img class="weddingpartyimg" src="{% static 'guests/images/El.jpg' %}">
                    <br>Mrs. Andres<br>Mother of the Groom</td>
                </tr>
                <tr>
                    <td><img class="weddingpartyimg" src="{% static 'guests/images/El.jpg' %}">
                    <br>Groomsman<br>Groomsman</td>
                    <td><img class="weddingpartyimg" src="{% static 'guests/images/El.jpg' %}">
                    <br>Groomsman<br>Groomsman</td>
                    
                </tr>
                <tr>
                    <td><img class="weddingpartyimg" src="{% static 'guests/images/El.jpg' %}">
                        <br>Groomsman<br>Groomsman</td>
                    <td><img class="weddingpartyimg" src="{% static 'guests/images/El.jpg' %}">
                    <br>Groomsman<br>Groomsman</td>
                </tr>
                <tr>
                    <td><img class="weddingpartyimg" src="{% static 'guests/images/El.jpg' %}">
                    <br>Groomsman<br>Groomsman</td>
                </tr>
            </table>
        </div>
        {% endif %}
    </div>
{% endblock %}